body {
  margin: 0;
  overflow: hidden;
  background: black;
  touch-action: none;
}

canvas {
  display: block;
}

.ui-top {
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 10;
}

.hp-bar, .boss-bar {
  width: 80%;
  height: 12px;
  margin: 5px auto;
  background: #222;
  border-radius: 10px;
}

#playerHP {
  height: 100%;
  width: 100%;
  background: cyan;
  border-radius: 10px;
}

#bossHP {
  height: 100%;
  width: 100%;
  background: red;
  border-radius: 10px;
}

.controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

#joystick {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255,255,255,0.1);
}

.skill-buttons button {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 20px;
  border-radius: 50%;
  background: #111;
  color: white;
  border: 2px solid white;
}
